# Exploaity Data Analysis - EDA

## Import libraries

In [3]:
import pandas as pd

## Load data

In [8]:
df = pd.read_csv('Data/clean_london_data.csv')

In [9]:
df.head()

,Borough,Area (sq mi),Population_2019,Density,Median_Househols_Income,N_employees,latitude,longitude
0,Barnet,33.49,395896,"4,520","34,163","134,650",51.5607,0.1557
1,Bexley,23.38,248287,"4,082","29,192","78,930",51.4549,0.1505
2,Brent,16.70,329771,"7,652","28,847","123,260",51.5588,0.2817
3,Bromley,57.97,332336,"2,205","33,659","108,250",51.4039,0.0198
4,Camden,8.40,270029,"12,035","36,053","382,785",51.5290,0.1255

## Check for null values

In [11]:
df.isna().sum()

Borough                    0
Area (sq mi)               0
Population_2019            0
Density                    0
Median_Househols_Income    0
N_employees                0
latitude                   0
longitude                  0
dtype: int64

## Check for duplicated values

In [13]:
len(df[df.duplicated()])

0